<!DOCTYPE html>
    <html>
        <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <title>Fotocollectie Eerste Wereldoorlog</title> 
            <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
            <link href='https://fonts.googleapis.com/css?family=Noto+Serif:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
            <link rel="stylesheet" href="assets/css/main.css" type="text/css">
        </head>
        <body ng-app="photosApp">
          <div class="container">
            <div class="content_wrapper">
              <header class="header">
                <img src="assets/images/logoblack.svg" alt="">
                <h1>Fotocollectie Eerste Wereldoorlog</h1>
              </header>
              
              <div ng-controller="photos">
                <ul class="grid js-masonry"  masonry='{ "transitionDuration" : "0.4s" , "itemSelector" : ".tile"}'>
                  <li masonry-tile ng-repeat="photo in photos" class="tile" ng-class = "{'last': $last}">
                    <span ng-click="findIndex(photos.indexOf(photo))" id="{{photos.indexOf(photo)}}" class="accent">+</span>
                    <img ng-src="{{photo.isShownBy[9].__text}}" alt="" class="" >
                    <h2 class="h2_title">{{photo.description}}</h2>
                  </li>
                </ul>
                <div class="overlay inactive accent totalloose animate-show" ng-show="animate">
                  <span class="close" ng-click="closeOverlay()"><img src="assets/images/close.svg" alt=""></span> 
                  <img id="elemPhoto" src="" alt="">
                  <div class="leftpart">
                    <h2 class="h2_title"></h2> 
                    <p>Plaats voor bijvoorbeeld extra uitleg bij de foto!</p>
                  </div>
                  
                </div>  
              </div>
            </div>
            <div class="lifesaver"></div>
            <footer>
              <div>
                <p>Designed and developed by</p>
                <a href="http://www.liesbethvanaerschot.com"><img src="assets/images/lieslogo.svg" alt=""></a>
              </div>
            </footer>
          </div>
          

        <script src="//code.jquery.com/jquery-2.1.0.min.js"></script>
        <script type="text/javascript" src="http://demos.amitavroy.com/learningci/assets/js/xml2json.js" charset="UTF-8"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.2/masonry.pkgd.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/3.2.0/imagesloaded.pkgd.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
        <script src="https://code.angularjs.org/1.3.15/angular-animate.js"></script>
        <script type="text/javascript" src="assets/js/angular-masonry-directive.js"></script>
        <!-- deze werkt! <script src="bower_components/angular-deckgrid/angular-deckgrid.js"></script>
         deze werkt niet<script type="text/javascript" src="assets/js/angulargrid.js"></script>
        wordt vervangen door 1 gecompiled bestand -->
        <script type="text/javascript" src="assets/js/app.js"></script>
        <!-- <script type="text/javascript" src="assets/js/service.js"></script>  -->
        <script type="text/javascript" src="assets/js/factory.js"></script>
        <script type="text/javascript" src="assets/js/controller.js"></script> 
</body>
</html>