/*********************
FONTS
*********************/

$sansseriffont: 'Montserrat', sans-serif;
$seriffont: 'Noto Serif', serif;

/*********************
COLORS
*********************/

$black: #2e2e2e;
$grey: #cfcfcf;
$white: #fdfdfd;
$accent: #E4FF35;